html{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 34px;
  background-color: #a9a9a9;
}

#wrap{
  width: 1208px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(238, 236, 236);
}

menu a{
  font-weight: bold;
  padding: 0 10px;
}
#homeMenu{
  position: relative;
  z-index: 99;
  padding-right: 53px;
  padding-top: 35px;
  float: right;
}
#top{
  padding-top: 15px;
}
#content {
  width: 692px;
  padding-left: 27px;
  padding-right: 27px;
  float: left;
}
menu hr{
  float: right;
  width: 250%;
  border: solid black;
}

footer{
  text-align: center;
}
h5{
  font-size: 120%;
}
#mainArea hr{
  margin-left: 0;
  width: 45%;
  border: solid black 1px;
}

#mainArea h6{
  font-size: 100%;
  margin-bottom: 0;
}
#mainArea p {
  margin-top: 0;
}
menu{
  padding: 0;
  margin: 0;
}

#top li {
  display: inline;
}
#homeMenu menu li{
  font-size: 24px;
  display: inline;
}
a:link{
  text-decoration: none;
}

#sidebar a{
  font-size: 100%;
  text-decoration: none;
}

#sidebar li{
list-style-type: none;
  margin-left: 100px;
}
#sidebar0 li{
  list-style-type: none;
  margin-left: 80px;
}
#sidebar1 li {
  margin-left: 100px;
}
#sidebar1 #link {
  list-style-type: none;
  margin-left: 100px;
}
#sidebar2 li {
  margin-left: 100px;
}
#sidebar2 #link2 {
  list-style-type: none;
  margin-left: 100px;
}
#sidebar {
  width: 420px;
  padding-left: 21px;
  padding-right: 21px;
  float: left;
  padding-top: 50px;
}
#mainArea {
  clear: both;
}
#logoHome {
  position: relative;
  z-index: 10;
  width: 200px;
  height: 140px;
  padding-left: 21px;
  padding-right: 21px;
  float: left;
}
#imgExample img{
  margin-left: 200px;
  height: 350px;
  width: 40%;
}
#imgExample00 img{
  margin-left: 200px;
  height: 120px;
  width: 80%;
}
#imgExample1 img{
  margin-left: 200px;
  height: 350px;
  width: 80%;
}
#imgExample2 img{
  margin-left: 200px;
  height: 350px;
  width: 100%;
}
#imgExample3 img{
  margin-left: 200px;
  height: 250px;
  width: 40%;
}
#imgExample4 img{
  margin-left: 200px;
  height: 350px;
  width: 70%;
}
#imgExample5 img{
  margin-left: 200px;
  height: 350px;
  width: 70%;
}
#imgExample6 img{
  margin-left: 200px;
  height: 50px;
  width: 60%;
}
#imgExample7 img{
  margin-left: 200px;
  height: 350px;
  width: 40%;
}
#imgExample8 img{
  margin-left: 200px;
  height: 150px;
  width: 40%;
}
#imgExample9 img{
  margin-left: 200px;
  height: 350px;
  width: 40%;
}
#imgExample10 img{
  margin-left: 200px;
  height: 350px;
  width: 40%;
}
#imgExample11 img{
  margin-left: 300px;
  height: 100px;
  width: 100%;
}
#imgExample12 img{
  margin-left: 300px;
  height: 350px;
  width: 40%;
}
#imgExample13 img{
  margin-left: 300px;
  height: 120px;
  width: 40%;
}
#imgExample14 img{
  margin-left: 300px;
  height: 120px;
  width: 40%;
}
#imgExample15 img{
  margin-left: 300px;
  height: 150px;
  width: 80%;
}
#imgExample16 img{
  margin-left: 300px;
  height: 180px;
  width: 120%;
}
#imgExample17 img{
  margin-left: 300px;
  height: 150px;
  width: 40%;
}
#imgExample18 img{
  margin-left: 300px;
  height: 150px;
  width: 40%;
}
#imgExample19 img{
  margin-left: 300px;
  height: 150px;
  width: 40%;
}
#imgExample20 img{
  margin-left: 300px;
  height: 150px;
  width: 40%;
}
#imgExample21 img{
  margin-left: 300px;
  height: 150px;
  width: 80%;
}
#imgExample22 img{
  margin-left: 300px;
  height: 280px;
  width: 80%;
}
#imgExample23 img{
  margin-left: 300px;
  height: 150px;
  width: 40%;
}
#imgExample24 img{
  margin-left: 300px;
  height: 150px;
  width: 100%;
}
#imgExample25 img{
  margin-left: 300px;
  height: 280px;
  width: 80%;
}
#logoHome img{
  width: 80%;
}
footer {
  clear: left;
  padding-top: 50px;
}
li.lastItem {
  padding-right: 0;
  margin-right: 0;
}


